
@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <!-- Agrega la referencia al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Inicio</h1>
        <ol class="list-group">
            <li class="list-group-item"><a href="/Producto/Listado">Listado</a></li>
        </ol>
    </div>

    <!-- Agrega la referencia al archivo JavaScript de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
